flows/node-red-mqtt-demo.json
[
  {
    "id": "flow_demo_001",
    "type": "tab",
    "label": "MQTT Demo",
    "disabled": false,
    "info": "RK3576 AIOT Node-RED 演示流"
  },
  {
    "id": "inject_demo_001",
    "type": "inject",
    "z": "flow_demo_001",
    "name": "每5秒生成一次",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "5",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 180,
    "y": 140,
    "wires": [["func_demo_001"]]
  },
  {
    "id": "func_demo_001",
    "type": "function",
    "z": "flow_demo_001",
    "name": "生成模拟传感器数据",
    "func": "function rand(min, max, digits=1) {\n    return Number((Math.random() * (max - min) + min).toFixed(digits));\n}\n\nmsg.topic = 'edge/RK3576-0001/sensor/sensor-demo-001/up';\n\nmsg.payload = {\n    gateway_sn: 'RK3576-0001',\n    gateway_name: 'RK3576 Gateway',\n    device_id: 'sensor-demo-001',\n    device_name: '演示温湿度传感器',\n    device_type: 'temperature_humidity',\n    protocol: 'mqtt',\n    status: 'online',\n    timestamp: new Date().toISOString(),\n    data: {\n        temperature: rand(24, 30, 1),\n        humidity: rand(45, 75, 1)\n    },\n    metadata: {\n        source: 'node-red-demo',\n        port: 'virtual'\n    }\n};\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 450,
    "y": 140,
    "wires": [["mqtt_out_demo_001", "debug_demo_001"]]
  },
  {
    "id": "mqtt_out_demo_001",
    "type": "mqtt out",
    "z": "flow_demo_001",
    "name": "发布到 MQTT",
    "topic": "",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "mqtt_broker_demo_001",
    "x": 730,
    "y": 120,
    "wires": []
  },
  {
    "id": "debug_demo_001",
    "type": "debug",
    "z": "flow_demo_001",
    "name": "调试输出",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 720,
    "y": 180,
    "wires": []
  },
  {
    "id": "mqtt_broker_demo_001",
    "type": "mqtt-broker",
    "name": "Local Mosquitto",
    "broker": "mqtt",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "",
    "willMsg": {}
  }
]
